<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    {% render 'vite-assets' %}
    {{ content_for_header }}
  </head>
  <body>
    <main id="main-content" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
